aiohttp @ file:///croot/aiohttp_1670009560265/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1668904237582/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1669740551754/work
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attrs==22.1.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1667688356751/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.1
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1666839268947/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764672617/work
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1666754707314/work
cfgv==3.3.1
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1649184154184/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click==8.1.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colossalai==0.2.8
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1669288892734/work
contexttimer==0.3.3
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1669592186537/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
d2l @ file:///home/conda/feedstock_root/build_artifacts/d2l_1665394697296/work
datasets @ file:///croot/datasets_1668181508665/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1669709871610/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
distlib==0.3.6
docstring-to-markdown @ file:///home/conda/feedstock_root/build_artifacts/docstring-to-markdown_1637247638475/work
emoji @ file:///home/conda/feedstock_root/build_artifacts/emoji_1667406760351/work
emojiswitch==0.0.3
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fabric==3.0.0
fastjsonschema==2.16.2
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1659645013175/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1667734568827/work/source/flit_core
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1666827164138/work
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec @ file:///croot/fsspec_1670336592807/work
huggingface-hub @ file:///croot/huggingface_hub_1667490244076/work
identify==2.5.22
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata==5.0.0
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1665204935269/work
invoke==2.0.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1669737785885/work
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1661165023080/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1667140637743/work
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
jedi-language-server @ file:///home/conda/feedstock_root/build_artifacts/jedi-language-server_1659398808956/work
Jinja2==3.1.2
joblib @ file:///croot/joblib_1666298844297/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-contrib-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_core_1657548529421/work
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-highlight-selected-word @ file:///home/conda/feedstock_root/build_artifacts/jupyter_highlight_selected_word_1638382835536/work
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1639326415622/work/jupyter-lsp
jupyter-nbextensions-configurator==0.5.0
jupyter-resource-usage @ file:///home/conda/feedstock_root/build_artifacts/jupyter-resource-usage_1665060653827/work
jupyter-server==1.21.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1668623095912/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1669776134657/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1666613090338/work
jupyterlab-github==3.0.1
jupyterlab-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1661549685907/work/jupyterlab-lsp
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server @ file:///opt/conda/conda-bld/jupyterlab_server_1664908231281/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805784128/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1666811991147/work
loralib==0.1.1
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1666905212398/work
markdown-it-py==2.2.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1666770186597/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1639359646028/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mdurl==0.1.2
mistune==2.0.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
multidict @ file:///croot/multidict_1665674239670/work
multiprocess @ file:///croot/multiprocess_1668006441451/work
munkres==1.1.4
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
ninja==1.11.1
nodeenv==1.7.0
nodejs==0.1.1
notebook==6.5.1
notebook_shim==0.2.0
npm==0.1.1
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
optional-django==0.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.2.4
pandocfilters==1.5.0
paramiko==3.1.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1666920578599/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs==2.5.3
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
ply==3.11
pre-commit==3.2.2
prometheus-client==0.15.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1669057097528/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1667885909637/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==8.0.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1659638152915/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1653020746401/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1659210156976/work
pygls @ file:///home/conda/feedstock_root/build_artifacts/pygls_1666828991925/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1660666458521/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1669744311672/work
PyNaCl==1.5.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1665350324128/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent==0.18.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1618530352985/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1667491645580/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1659322367429/work
pytorch-crf==0.7.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1667391478166/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772387118/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1666828545060/work
qtconsole==5.3.2
QtPy==2.2.1
regex @ file:///tmp/abs_41f5bce5-0a2e-45aa-b231-1fd2fbd57753gfpe6sjm/croots/recipe/regex_1658257178822/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rich==13.3.4
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1669367229427/work
scikit-learn @ file:///croot/scikit-learn_1667587546862/work
scipy==1.9.3
seaborn @ file:///croot/seaborn_1673479180098/work
Send2Trash==1.8.0
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1669039925930/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
soupsieve==2.3.2.post1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
terminado==0.17.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tinycss2==1.2.1
titans==0.0.7
tokenizers @ file:///opt/conda/conda-bld/tokenizers_1651822590771/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1666864188602/work
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1666788587690/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
traitlets==5.5.0
transformers @ file:///croot/transformers_1667919440064/work
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1658932097418/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1666837350618/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1667239485250/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1669259737463/work
virtualenv==20.21.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==1.4.1
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1668379856745/work
widgetsnbextension==4.0.3
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1666806130856/work
xxhash @ file:///croot/python-xxhash_1667919521615/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1641487982943/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zhconv==1.4.3
zipp==3.10.0
